@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

@font-face {
	font-family: 'aritaM';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:url('../../font/Pretendard-Light.woff2') format('woff2'),
		url('../../font/Pretendard-Light.woff') format('woff'),
		url('../../font/Pretendard-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:url('../../font/Pretendard-Regular.woff2') format('woff2'),
		url('../../font/Pretendard-Regular.woff') format('woff'),
		url('../../font/Pretendard-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:url('../../font/Pretendard-Medium.woff2') format('woff2'),
		url('../../font/Pretendard-Medium.woff') format('woff'),
		url('../../font/Pretendard-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:url('../../font/Pretendard-SemiBold.woff2') format('woff2'),
		url('../../font/Pretendard-SemiBold.woff') format('woff'),
		url('../../font/Pretendard-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:url('../../font/Pretendard-Bold.woff2') format('woff2'),
		url('../../font/Pretendard-Bold.woff') format('woff'),
		url('../../font/Pretendard-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
}