// 상세페이지 main
.sub-visual{
  // background-attachment: fixed;
  width: 100%;
  height: 36rem;
  overflow: hidden;
  position: relative;
  &::before{
    content: '';
    width: inherit;
    height: inherit;
    background: rgba($black, .35);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  &:hover{
    .img-wrap{
      img{transform: scale(1.1);}
    }
  }
  .img-wrap{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .45s;
    }
  }
  .tit-wrap{
    width: calc(100% - 4rem);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    text-align: center;
    strong{
      font-size: 3.2rem;
      font-weight: bold;
      display: block;
      margin-bottom: 2rem;
    }
    p{line-height: 1.4;}
  }
  + .shop-cont{margin-top: 8rem;}
}
.shop-cont{
  .tab-cont{
    width: 100%;
    @include flexbox(row, center, center);
    @include tablet{
      padding: 1rem 0;
      justify-content: flex-start;
      overflow-y: auto;
    }
    li{
      padding: 0 2rem;
      &:not(:first-child){border-left: 1px solid rgba($white, .45);}
      &:hover, &.on{a{color: $subColor;}}
      a{
        font-weight: bold;
        white-space: nowrap;
        transition: color .25s;
      }
    }
  }
  .item-container{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    // display: grid;
    // gap: 2rem;
    // grid-template-columns: repeat(auto-fill, calc(100% / 4 - 1.5rem));
    // @include notebook{grid-template-columns: repeat(auto-fill, calc(100% / 2 - 1rem));}
    // @include tablet{grid-template-columns: 1fr;}
    .shop-item{
      border: 1px solid rgba($white, .25);
      width: calc(100% / 4);
      transition: all .25s;
      @include notebook{width: calc(100% / 3);}
      @include tablet{width: calc(100% / 2);}
      &:hover{
        background: $subColor;
        .img-wrap{
          img{
            &.org-img{opacity: 0;}
            &.hover-img{opacity: 1;}
          }
        }
      }
      > a{width: 100%;}
      .img-wrap{
        height: 40rem;
        position: relative;
        background: $white;
        overflow: hidden;
        @include tablet{height: 24rem;}
        img{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: opacity .25s;
          &.org-img{opacity: 1;}
          &.hover-img{opacity: 0;}
        }
      }
      .item-info{
        padding: 2.4rem 2rem;
        *{line-height: 1.4;}
        > span{
          color: rgba($white, .65);
          font-size: 1.4rem;
          @include ellipsis(2);
        }
        > strong{
          margin-bottom: .8rem;
          font-weight: 600;
          display: block;
          @include ellipsis(2);
        }
        > p{
          margin-top: .8rem;
          display: block;
          font-weight: 500;
          @include ellipsis(3);
          span{font-weight: 500;}
        }
      }
    }
  }
}
// 제품 상세페이지
.detail-wrap{
  .pd-wrap{
    &-top{
      display: flex;
      gap: 4rem;
      @include tablet{flex-direction: column;}
      .pd-img{
        width: 45%;
        height: 50rem;
        background: $white;
        @include tablet{width: 100%;}
        .img-wrap{
          height: 100%;
          position: relative;
          &:hover{
            img{
              &.org-img{
                opacity: 0;
                visibility: hidden;
              }
              &.hover-img{
                opacity: 1;
                visibility: visible;
              }
            }
          }
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity .35s;
            &.hover-img{
              opacity: 0;
              visibility: hidden;
            }
          }
        }
        // .swiper{
        //   height: 100%;
        //   .img-wrap{
        //     height: 100%;
        //     img{
        //       height: 100%;
        //       display: block;
        //       margin: 0 auto;
        //     }
        //   }
        //   &-pagination{
        //     padding: 0 1rem;
        //     bottom: 2rem;
        //     @include flexbox(row, flex-end, center);
        //     &-bullet{
        //       width: 1rem;
        //       height: 1rem;
        //       // background: $white;
        //       &-active{
        //         width: 1.4rem;
        //         height: 1.4rem;
        //         background: $black;
        //       }
        //     }
        //   }
        // }
      }
      .pd-info{
        width: 55%;
        @include tablet{width: 100%;}
        .tit-wrap{
          .main-tit{
            span{
              font-size: 1.4rem;
              font-weight: 600;
              color: rgba($white, .65);
              + strong{margin-top: 1rem;}
            }
            strong{
              line-height: 1.4;
              font-size: 3.2rem;
              font-weight: bold;
              display: block;
              word-break: keep-all;
            }
          }
          .sub-tit{
            padding: 2rem 0;
            margin: 2rem 0;
            border-top: 1px solid $gray01;
            border-bottom: 1px solid $gray01;
            p{
              line-height: 1.4;
              word-break: keep-all;
            }
          }
        }
        .price-wrap{
          margin-top: 2rem;
          gap: .8rem;
          @include flexbox(row, flex-start, center);
          *{
            font-weight: bold;
            font-size: 1.8rem;
          }
          .pr{
            &-existing{
              color: rgba($white, .65);
              text-decoration: line-through;
              span{color: rgba($white, .65);}
            }
            &-discount{color: $red;}
          }
        }
        .option-wrap{
          margin-top: 2rem;
          > div{
            gap: 1rem;
            @include flexbox(row, flex-start, center);
            &:not(:first-child){margin-top: 1rem;}
            .tit{font-weight: bold;}
          }
        }
        .buy-wrap{
          margin-top: 4rem;
          gap: 1.6rem;
          button{
            border-radius: 0;
            padding: 1.8rem 1.2rem;
          }
        }
      }
    }
    &-bottom{
      margin-top: 5rem;
      padding-top: 5rem;
      border-top: 1px solid rgba($white, .45);
      .direct-wrap{
        padding: 4rem 0;
        background-attachment: fixed;
        @include background(main, direct_bg, jpg, no-repeat, cover, center, center);
        > .con-box{
          gap: 4rem;
          @include flexbox(row, space-between, flex-start);
          @include tablet{flex-direction: column;}
        }
        .tit-wrap{
          width: 40%;
          @include tablet{width: 100%;}
          strong{
            font-size: 3.4rem;
            line-height: 1.4;
            font-weight: bold;
            word-break: keep-all;
            display: block;
            margin-bottom: 2rem;
          }
          a{
            text-decoration: underline;
            &:hover{color: $subColor;}
          }
        }
        .cont-wrap{
          width: 60%;
          @include tablet{width: 100%;}
          .direct-list{
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            @include tablet{grid-template-columns: 1fr;}
            li{
              position: relative;
              min-height: 20rem;
              padding: 1.6rem;
              border-radius: 2rem;
              background: rgba($white, .2);
              transition: all .25s;
              @include tablet{min-height: auto;}
              &:hover{
                background: $subColor;
                .icon{width: 4.2rem;}
                .txt-info{
                  height: 50%;
                  @include tablet{height: auto;}
                  .info{height: auto;}
                }
              }
              .icon{
                width: 6rem;
                transition: all .25s;
                @include tablet{width: 4.2rem;}
                img{
                  width: 100%;
                  filter: brightness(300%);
                }
              }
              .txt-info{
                width: calc(100% - 3.2rem);
                height: 2.8rem;
                overflow: hidden;
                position: absolute;
                bottom: 1.6rem;
                left: 50%;
                transform: translateX(-50%);
                transition: height .25s;
                @include tablet{
                  width: 100%;
                  height: auto;
                  margin-top: 2rem;
                  position: static;
                  transform: translateX(0);
                }
                strong{
                  font-size: 2rem;
                  line-height: 1.4;
                  font-weight: 600;
                  display: block;
                }
                .info{
                  margin-top: 1rem;
                  height: 0;
                  transition: height .25s;
                  @include tablet{height: auto;}
                  p{
                    line-height: 1.4;
                    word-break: keep-all;
                  }
                }
              }
            }
          }
        }
      }
      .pd-char{
        margin-top: 12rem;
        
      }
    }
  }
}