#wrap{
  &.home{
    section{height: 1000px;}
    .box{
      width: 300px;
      height: 300px;
      background: $gray02;
    }
    .wrap-inner{
      > div{&:not(.visual){margin-top: 12rem;}}
      .info-txt{
        p{line-height: 1.4;}
      }
      .tit-wrap{
        // margin-bottom: 2.4rem;
        &.type01{
          .tit-info{
            strong{
              font-family: $mont;
              font-weight: bold;
              font-style: italic;
              font-size: clamp(4.2rem, 6vw, 6.4rem);
              *{
                font-family: $mont;
                font-style: italic;
                font-size: clamp(4.2rem, 6vw, 6.4rem);
              }
              span{font-weight: 500;}
            }
          }
        }
        .tit-info{
          >span{
            font-weight: bold;
            color: $subColor;
            text-transform: uppercase;
          }
          >strong{
            font-size: 3.6rem;
            font-weight: bold;
            margin-top: 1rem;
            line-height: 1.2;
            display: block;
          }
          + .info-txt{margin-top: 2rem;}
          + .more{margin-top: 1.2rem;}
        }
        .more{
          font-weight: 500;
          &::after{
            content: '';
            width: 8rem;
            height: 2rem;
            margin-left: .6rem;
            display: inline-block;
            vertical-align: middle;
            @include background(icon, arrow02_icon, svg, no-repeat, contain, center, center);
            animation: arrow .8s alternate infinite both;
          }
        }
      }
    }
    .visual{
      width: 100%;
      height: calc(100vh - 16rem);
      position: relative;
      background: #333;
      @include flexbox(row, center, center);
      @include notebook{height: calc(100vh - 6rem);}
      .visual-swiper{
        // width: 100%;
        height: 100%;
      }
    }
    .about{
      gap: 4rem;
      @include flexbox(row, flex-start, flex-start);
      @include notebook{
        flex-direction: column;
      }
      .info-txt{
        &.d-pc{@include notebook{display: none;}}
        &.d-mb{@include notebook{display: block;}}
      }
      .tit-wrap{
        width: 40%;
        opacity: 0;
        transform: translateX(-8rem);
        @include notebook{width: 100%;}
      }
      .cont-wrap{
        opacity: 0;
        .img-wrap{
          img{
            display: block;
            margin: 0 auto;
          }
          + .info-txt{margin-top: 2rem;}
        }
      }
    }
    .pd-wrap{
      display: flex;
      position: relative;
      @include tablet{
        flex-direction: column;
        gap: 2rem;
      }
      .swiper-controls{
        position: absolute;
        left: 0;
        bottom: 0;
        @include tablet{display: none;}
        button{
          width: 4rem;
          height: 4rem;
          border: 0;
          padding: 0;
          border-radius: 0;
          text-indent: -9999em;
          overflow: hidden;
          position: relative;
          background: transparent;
          &:hover{
            background: transparent;
            &::after{opacity: 1;}
          }
          &::after{
            content: '';
            width: inherit;
            height: inherit;
            position: absolute;
            left: 50%;
            top: 50%;
            opacity: .45;
            transition: opacity .25s;
            @include background(icon, arrow03_icon, svg, no-repeat, contain, center, bottom);
          }
          &.btn{
            &-prev{&::after{transform: translate(-50%,-50%)}}
            &-next{&::after{transform: translate(-50%,-50%) rotate(180deg);}}
          }
        }
      }
      .tit-wrap{
        width: 30%;
        @include tablet{
          width: 100%;
          @include flexbox(row, space-between, flex-end);
        }
      }
      .pd-list{
        width: 70%;
        @include tablet{width: 100%;}
        .pd-item{
          &:hover{
            .img-wrap{
              &::after{height: 100%;}
              .circle-ani{opacity: 1;}
            }
          }
          .img-wrap{
            position: relative;
            border-radius: 2rem;
            overflow: hidden;
            img{display: block;}
            &::after{
              content: '';
              width: 100%;
              height: 0;
              position: absolute;
              bottom: 0;
              left: 0;
              background: rgba($black, .35);
              transition: height .25s;
            }
            .circle-ani{
              width: 5rem;
              height: 5rem;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 1;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity .25s;
              &::before, &::after{
                content: '';
                display: block;
                border-radius: 50%;
                background: $white;
              }
              &:before {
                width: 200%;
                height: 200%;
                margin-left: -50%;
                margin-top: -50%;
                background: radial-gradient($white, $black);
                animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
              }
              &:after {
                content: 'Go';
                color: $black;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0; 
                top: 0;
                box-shadow: 0 0 8px rgba($black, .3);
                font-weight: 500;
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
                @include flexbox(row, center, center);
              }
            }
          }
          .pd-info{
            margin-top: 1.6rem;
            padding: .4rem;
            strong{
              font-size: 1.8rem;
              font-weight: 600;
              padding-top: 1rem;
              margin-bottom: 1rem;
              display: block;
              position: relative;
              &::before{
                content: '';
                width: 4rem;
                height: .2rem;
                background: $subColor;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            p{font-weight: 500;}
          }
        }
      }
    }
    .pd-vacuum{
      border: 1px solid $white;
      height: 80vh;
      .vacuum-swiper{
        width: 100%;
        height: 100%;
        .swiper-slide{
          position: relative;
          &-active{
            .img-wrap{
              animation: fade 1.5s both alternate;
              @include tablet{animation: fade_mb 1.5s both alternate;}
            }
            .info-wrap{
              .num{animation: titAni 1s .8s both alternate;}
              .info-txt{
                .tit-wrap{
                  strong{
                    &:first-child{animation: titAni 1s 1s both alternate;}
                    &:nth-child(2){animation: titAni 1s 1.2s both alternate;}
                    &:last-child{animation: titAni 1s 1.4s both alternate;}
                  }
                }
                p{animation: titAni 1s 1.6s both alternate;}
              }
            }
          }
          &:nth-child(even){
            .img-wrap{
              img{
                margin-left: auto;
                margin-right: 0;
              }
            }
            .info-wrap{
              right: auto;
              left: 4rem;
              @include tablet{left: 2rem;}
            }
          }
          .img-wrap{
            width: 100%;
            height: 100%;
            img{
              height: 100%;
              display: block;
              object-fit: cover;
            }
          }
          .info-wrap{
            max-width: 40%;
            position: absolute;
            top: 50%;
            right: 4rem;
            transform: translateY(-50%);
            gap: 2rem;
            @include flexbox(row, flex-start, flex-start);
            @include tablet{
              max-width: calc(100% - 4rem);
              right: auto;
              left: 2rem;
              flex-direction: column;
            }
            *{font-family: $mont;}
            .num{
              font-weight: bold;
              font-size: clamp(3.6rem, 6vw, 5rem);
            }
            .info-txt{
              .tit-wrap{
                margin-bottom: 2.4rem;
                strong{
                  display: block;
                  font-weight: bold;
                  font-style: italic;
                  font-size: clamp(4rem, 6vw, 5.4rem);
                  &:not(:first-child){margin-top: 1rem;}
                  &:nth-child(2){
                    font-weight: 500;
                    margin-left: 4rem;
                    @include tablet{margin-left: 0;}
                  }
                  &:last-child{
                    margin-left: 8rem;
                    @include tablet{margin-left: 0;}
                  }
                }
              }
              p{
                line-height: 1.4;
                font-size: 1.8rem;
                span{
                  margin-top: 1rem;
                  font-size: 1.4rem;
                  opacity: .8;
                  display: block;
                }
              }
            }
          }
        }
        .swiper-controls{
          position: absolute;
          bottom: 4rem;
          right: 4rem;
          z-index: 1;
          button{
            width: 3rem;
            height: 3rem;
            text-indent: -9999em;
            position: relative;
            background: transparent;
            &:not(:first-child){margin-left: 1rem;}
            &::after{
              content: '';
              width: inherit;
              height: inherit;
              position: absolute;
              left: 50%;
              top: 50%;
              @include background(icon, arrow04_icon, svg, no-repeat, contain, center, bottom);
            }
            &.btn{
              &-prev{&::after{transform: translate(-50%,-50%)}}
              &-next{&::after{transform: translate(-50%,-50%) rotate(180deg);}}
            }
          }
        }
      }
    }
    .fix-sec{
      min-height: 41.5rem;
      background: #eee;
    }
  }
}