#wrap{
  &.home{
    section{height: 1000px;}
    .box{
      width: 300px;
      height: 300px;
      background: $gray02;
    }
    .wrap-inner{
      > div{&:not(.visual){margin-top: 10rem;}}
      .tit-wrap{
        // margin-bottom: 2.4rem;
        &.type01{
          .tit-info{
            strong{
              font-family: $mont;
              font-weight: bold;
              font-style: italic;
              font-size: clamp(4.2rem, 6vw, 6.4rem);
            }
          }
        }
        .tit-info{
          span{
            font-weight: bold;
            color: $subColor;
            text-transform: uppercase;
          }
          strong{
            font-size: 3.6rem;
            font-weight: bold;
            margin-top: 1rem;
            line-height: 1.2;
            display: block;
          }
          + .info-txt{margin-top: 2rem;}
        }
        .info-txt{
          p{line-height: 1.4;}
        }
        .more{
          font-weight: 500;
          &::after{
            content: '';
            width: 8rem;
            height: 2rem;
            margin-left: .6rem;
            display: inline-block;
            vertical-align: middle;
            @include background(icon, arrow02_icon, svg, no-repeat, contain, center, center);
            animation: arrow .8s alternate infinite both;
          }
        }
      }
    }
    .visual{
      width: 100%;
      height: calc(100vh - 16rem);
      position: relative;
      background: #333;
      @include flexbox(row, center, center);
      @include notebook{height: calc(100vh - 6rem);}
      .visual-swiper{
        // width: 100%;
        height: 100%;
      }
    }
    .about{
      gap: 4rem;
      @include flexbox(row, flex-start, flex-start);
      .tit-wrap{
        width: 40%;
      }

    }
    .pd-wrap{
      display: flex;
      position: relative;
      @include tablet{
        flex-direction: column;
        gap: 2rem;
      }
      .swiper-controls{
        position: absolute;
        left: 0;
        bottom: 0;
        @include tablet{display: none;}
        button{
          width: 4rem;
          height: 4rem;
          border: 0;
          padding: 0;
          border-radius: 0;
          text-indent: -9999em;
          overflow: hidden;
          position: relative;
          background: transparent;
          &:hover{
            background: transparent;
            &::after{opacity: 1;}
          }
          &::after{
            content: '';
            width: inherit;
            height: inherit;
            position: absolute;
            left: 50%;
            top: 50%;
            opacity: .45;
            transition: opacity .25s;
            @include background(icon, arrow03_icon, svg, no-repeat, contain, center, bottom);
          }
          &.btn{
            &-prev{&::after{transform: translate(-50%,-50%)}}
            &-next{&::after{transform: translate(-50%,-50%) rotate(180deg);}}
          }
        }
      }
      .tit-wrap{
        width: 30%;
        @include tablet{
          width: 100%;
          @include flexbox(row, space-between, flex-end);
        }
      }
      .pd-list{
        width: 70%;
        @include tablet{width: 100%;}
        .pd-item{
          &:hover{
            .img-wrap{
              &::after{height: 100%;}
              .circle-ani{opacity: 1;}
            }
          }
          .img-wrap{
            position: relative;
            border-radius: 2rem;
            overflow: hidden;
            img{display: block;}
            &::after{
              content: '';
              width: 100%;
              height: 0;
              position: absolute;
              bottom: 0;
              left: 0;
              background: rgba($black, .35);
              transition: height .25s;
            }
            .circle-ani{
              width: 5rem;
              height: 5rem;
              position: absolute;
              left: 50%;
              top: 50%;
              z-index: 1;
              transform: translate(-50%, -50%);
              opacity: 0;
              transition: opacity .25s;
              &::before, &::after{
                content: '';
                display: block;
                border-radius: 50%;
                background: $white;
              }
              &:before {
                width: 200%;
                height: 200%;
                margin-left: -50%;
                margin-top: -50%;
                background: radial-gradient($white, $black);
                animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
              }
              &:after {
                content: 'Go';
                color: $black;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0; 
                top: 0;
                box-shadow: 0 0 8px rgba($black, .3);
                font-weight: 500;
                animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
                @include flexbox(row, center, center);
              }
            }
          }
          .pd-info{
            margin-top: 1.6rem;
            padding: .4rem;
            strong{
              font-size: 1.8rem;
              font-weight: 600;
              padding-top: 1rem;
              margin-bottom: 1rem;
              display: block;
              position: relative;
              &::before{
                content: '';
                width: 4rem;
                height: .2rem;
                background: $subColor;
                position: absolute;
                top: 0;
                left: 0;
              }
            }
            p{font-weight: 500;}
          }
        }
      }
    }
    .fix-sec{
      min-height: 41.5rem;
      background: #eee;
    }
  }
}