#wrap{
  .inner{
    &#cart{
      > section{
        &#board{
          .tit-wrap{
            gap: 1rem;
            @include flexbox(row, flex-start, flex-start);
            span{
              width: 2rem;
              height: 2rem;
              font-weight: 600;
              background: $white;
              border-radius: 50%;
              @include flexbox(row, center, center);
            }
          }
          .cont-wrap{
            margin-top: 2rem;
            .table-wrap{
              table{
                &.shop-table{
                  @include tablet{display: block;}
                  thead{@include tablet{display: block;}}
                  tbody{
                    @include tablet{display: block;}
                    tr{
                      @include tablet{
                        display: block;
                        padding: 2rem 0;
                      }
                      td{
                        @include tablet{
                          display: block;
                          width: 100% !important;
                          padding: 1rem;
                          border-right: none;
                        }
                        > div{
                          text-align: center;
                          position: relative;
                          &.img{
                            padding-right: 4rem;
                            @include flexbox(row, flex-start, flex-start);
                          }
                          .remove{
                            width: 2rem;
                            height: 2rem;
                            overflow: hidden;
                            text-indent: -9999em;
                            position: absolute;
                            right: .8rem;
                            top: 0;
                            background-color: inherit;
                            @include background(icon, cart_remove_icon, svg, no-repeat, 80%, center, center);
                            @include tablet{top: 1rem;right: 1rem;}
                          }
                          .link-wrap{
                            gap: 1rem;
                            @include flexbox(row, flex-start, flex-start);
                            .img-wrap{
                              width: 10rem;
                              min-width: 10rem;
                              height: 10rem;
                              overflow: hidden;
                              background: $white;
                              img{
                                height: 100%;
                                object-fit: contain;
                              }
                            }
                            p{
                              @include ellipsis(2);
                              text-align: left;
                            }
                          }
                          .amount{
                            @include flexbox(row, center, center);
                            @include tablet{justify-content: space-between;}
                            strong{min-width: 8rem;}
                            button{
                              width: 2.8rem;
                              height: 2.8rem;
                              padding: 0;
                              border-radius: .4rem;
                            }
                          }
                          .price{
                            button{margin-top: 1rem;}
                            @include tablet{
                              border-bottom: 1px solid $gray03;
                              padding-bottom: 1.2rem;
                              margin: 2rem 0;
                              gap: 1rem;
                              @include flexbox(row, space-between, center);
                            }
                          }
                          .result{
                            .flex-wrap{
                              justify-content: space-between;
                              &:not(:first-child){margin-top: 1rem;}
                            }
                          }
                        }
                      }
                    }
                  }
                }
                &.result-table{
                  @include tablet{
                    &::before{
                      content: '';
                      width: 100%;
                      height: 1rem;
                      background: $gray03;
                      display: block;
                    }
                  }
                  thead{
                    @include tablet{border: 0;}
                    th{
                      text-align: left;
                      padding: 2rem 0;
                    }
                  }
                  tbody{
                    tr{
                      @include tablet{border-bottom: 0;}
                      td{
                        border-right: 0;
                        @include tablet{padding: 2rem 0;}
                        .price-wrap{
                          @include flexbox(row, center, center);
                          @include tablet{
                            @include flexbox(column, flex-start, flex-start);
                          }
                          > div{
                            position: relative;
                            gap: .6rem;
                            @include flexbox(column, center, center);
                            @include tablet{
                              width: 100%;
                              @include flexbox(row-reverse, space-between, center);
                            }
                            &:not(:first-child){
                              padding-left: 5rem;
                              @include tablet{
                                padding-left: 0;
                                margin-top: 1.4rem;
                              }
                              &::after{
                                content: '+';
                                width: 5rem;
                                font-weight: bold;
                                position: absolute;
                                top: 0;
                                left: 2rem;
                                @include tablet{display: none;}
                              }
                            }
                            &:last-child{
                              &::after{content: '=';}
                              @include tablet{
                                margin-top: 2rem;
                                padding-top: 2rem;
                                border-top: 1px solid $table-bd;
                              }
                              p{
                                @include tablet{
                                  font-weight: bold;
                                  span{font-weight: bold;}
                                }
                              }
                              span{@include tablet{font-weight: bold;}}
                            }
                            p{
                              font-weight: bold;
                              @include tablet{font-weight: normal;}
                              span{
                                font-weight: bold;
                                font-size: 1.6rem;
                                @include tablet{font-weight: normal;}
                              }
                            }
                            span{
                              font-size: 1.4rem;
                              @include tablet{font-size: 1.6rem;}
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
              &-bottom{
                text-align: center;
                button{
                  width: 100%;
                  max-width: 28rem;
                  padding: 1.2rem .8rem;
                  display: block;
                  margin: 0 auto 2rem;
                  border-radius: 3rem;
                }
                a{
                  font-weight: 500;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}