#wrap {
  .inner {
    &#detail {
      > section {
        &#visual {
          height: 36rem;
          overflow: hidden;
          &::before {
            content: '';
            width: inherit;
            height: inherit;
            background: rgba($black, .35);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
          &:hover {img {transform: scale(1.1);}}
          .img-wrap {
            height: inherit;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform .45s;
            }
          }
          .tit-wrap {
            width: calc(100% - 4rem);
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 10;
            transform: translate(-50%, -50%);
            text-align: center;
          }
        }
        &#productList {
          margin-top: 8rem;
          .tab-cont {
            width: 100%;
            @include flexbox(row, center, center);
            @include tablet {
              padding: 1rem 0;
              justify-content: flex-start;
              overflow-y: auto;
            }
            li {
              padding: 0 2rem;
              &:not(:first-child) {border-left: 1px solid rgba($white, .45);}
              &:hover,&.on {a {color: $subColor;}}
              a {
                font-weight: bold;
                white-space: nowrap;
                transition: color .25s;
              }
            }
          }
          .product-list {
            margin-top: 4rem;
            display: flex;
            flex-wrap: wrap;
            .item {
              width: calc(100% / 4);
              transition: all .25s;
              @include border(1px, rgba($white, .25));
              @include notebook {width: calc(100% / 3);}
              @include tablet {width: calc(100% / 2);}
              &:hover {background: $subColor;}
              > a {width: 100%;}
              .img-wrap {
                height: 40rem;
                background: $white;
                @include tablet {height: 24rem;}
              }
              .info {
                padding: 2.4rem 2rem;
                * {line-height: 1.4;}
                > span {@include ellipsis(2);}
                > strong {
                  margin-bottom: .8rem;
                  @include ellipsis(2);
                }
                > p {
                  margin-top: .8rem;
                  display: block;
                  font-weight: 500;
                  @include ellipsis(3);
                  span {font-weight: 500;}
                }
              }
            }
          }
        }

      }
    }
    &#pdDetail{
      > section{
        &#pdInfo {
          .product-info{
            display: flex;
            gap: 4rem;
            @include tablet {flex-direction: column;}
            > .img-wrap{
              width: 45%;
              height: 50rem;
              background: $white;
              @include tablet {width: 100%;}
              .img-wrap {height: 100%;}
            }
            .info-txt{
              width: 55%;
              @include tablet{width: 100%;}
              .txt-wrap{
                padding-bottom: 2rem;
                border-bottom: 1px solid $gray01;
                span{font-weight: 600;}
                strong{
                  margin: 1rem 0 2rem;
                  padding-bottom: 2rem;
                  border-bottom: 1px solid $gray01;
                }
              }
              .price{
                margin-top: 2rem;
                gap: .8rem;
                @include flexbox(row, flex-start, center);
                .pr {
                  font-size: 1.8rem;
                  &-existing {
                    color: rgba($white, .65);
                    text-decoration: line-through;
                    span {color: rgba($white, .65);}
                  }
                  &-discount {color: $red;}
                }
              }
              .option{
                margin-top: 2rem;
                > div {
                  gap: 1rem;
                  @include flexbox(row, flex-start, center);
                  &:not(:first-child) {margin-top: 1rem;}
                  .tit {font-weight: bold;}
                }
              }
              .btn-wrap{
                margin-top: 4rem;
                gap: 1.6rem;
                button {
                  border-radius: 0;
                  padding: 1.8rem 1.2rem;
                }
              }
            }
          }
        }
        &#pdDetail{
          > .cont-wrap{
            padding: 4rem 0;
            background-attachment: fixed;
            @include background(main, direct_bg, jpg, no-repeat, cover, center, center);
            > .con-box{
              gap: 4rem;
              @include flexbox(row, space-between, flex-start);
              @include tablet {flex-direction: column;}
              .tit-wrap{
                width: 40%;
                @include tablet {width: 100%;}
                strong{margin: 1.4rem 0 2rem;}
                a {
                  text-decoration: underline;
                  &:hover {color: $subColor;}
                }
              }
              .list{
                width: 60%;
                display: grid;
                gap: 2rem;
                grid-template-columns: repeat(2, 1fr);
                @include tablet {
                  width: 100%;
                  grid-template-columns: 1fr;
                }
                > div {
                  position: relative;
                  border-radius: 2rem;
                  overflow: hidden;
                  background: rgba($white, .2);
                  > a {
                    position: relative;
                    min-height: 20rem;
                    padding: 1.6rem;
                    @include flexbox(column, space-between, flex-start);
                    &:hover {.info {opacity: 1;}}
                  }
                  .icon {
                    width: 6rem;
                    transition: all .25s;
                    @include tablet {width: 4.2rem;}
                    img {
                      width: 100%;
                      filter: brightness(300%);
                    }
                  }
                  .info {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 1.6rem;
                    text-align: center;
                    background: $subColor;
                    opacity: 0;
                    transition: opacity .25s;
                    @include flexbox(row, center, center);
                  }
                }
              }
            }
          }
        }
        &#pdChar{
          .cont-wrap{
            margin-top: 4rem;
            .list {
              display: grid;
              gap: 4rem 2rem;
              grid-template-columns: repeat(3, 1fr);
              @include tablet {grid-template-columns: 1fr;}
              > div {
                border-bottom: 1px solid rgba($white, .25);
                .info {
                  padding: 2rem 0;
                  p {margin-top: 1.4rem;}
                }
              }
            }
          }
        }
        &#store{
          .cont-wrap{
            margin-top: 4rem;
            position: relative;
          }
          .tab-menu{
            position: absolute;
            top: 0;
            right: 0;
            gap: 1rem;
            @include flexbox(row, flex-start, flex-start);
            > a{
              width: 3rem;
              height: 3rem;
              font-weight: 600;
              border-radius: 50%;
              background: rgba($white, .25);
              transition: all .25s;
              @include flexbox(row, center, center);
              &.on,&:hover {background: $subColor;}
            }
          }
          .tab-cont{
            gap: 4rem;
            @include flexbox(row, center, flex-end);
            @include notebook {
              gap: 2rem;
              margin-top: 2rem;
              flex-direction: column;
            }
            .img-wrap {
              flex: 1;
              border-radius: 2rem;
              overflow: hidden;
            }
            .info {
              flex: 1;
              strong{
                width: 50%;
                padding: 1.6rem 2rem;
                border-radius: 1rem;
                background: $subColor;
                @include tablet{width: 100%;}
              }
              .txt-wrap{
                margin-top: 2rem;
                * {color: $black;}
                background: $white;
                border-radius: 1rem;
                padding: 1.6rem 2rem;
                p{
                  &:not(:first-child) {margin-top: 1rem;}
                  span {font-weight: 600;}
                }
                a {
                  margin-top: 4rem;
                  font-size: 2.4rem;
                  font-weight: 500;
                  gap: 1rem;
                  @include flexbox(row, flex-start, center);
                  @include notebook {
                    font-size: 1.8rem;
                    margin-top: 2rem;
                  }
                  &:hover {color: $subColor;}
                  &::before {
                    content: '';
                    display: block;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background: $black;
                    @include background(icon, arrow03_icon, svg, no-repeat, 80%, center, center);
                    @include notebook {
                      width: 3rem;
                      height: 3rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}