@import '../base/common.scss';

header{
  width: 100%;
  height: 16rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: linear-gradient($mainColor, $white);
  transition: height .25s;
  @include notebook_junc{height: 6rem;}
  &.header-fixed{
    height: 6rem;
    background: $mainColor;
    .hd-inner-wrap{
      width: calc(100% - 4rem);
      height: 6rem;
      margin: 0 auto;
      .logo{
        left: 0;
        transform: translateY(-50%);
      }
      .utility-wrap{right: 0;}
    }
  }
  @include notebook_junc{
    height: 6rem;
    background: $mainColor;
  }
  .hd-inner-wrap{
    position: relative;
    min-height: 6rem;
    // padding: 1rem 0;
    transition: all .25s;
    .ham-btn, .user, .search-controls{
      width: 6rem;
      height: 6rem;
      text-indent: -9999em;
      overflow: hidden;
      position: relative;
      background-color: inherit;
      &::after{
        content: '';
        display: block;
        width: inherit;
        height: inherit;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .ham-btn{
      display: none;
      @include notebook_junc{display: block;}
      &::after{@include background(icon, menu_icon, svg, no-repeat, contain, center, center);}
    }
    .utility-wrap{
      position: absolute;
      top: 50%;
      right: 2rem;
      z-index: 100;
      transform: translateY(-50%);
      @include flexbox(row, flex-start, center);
      @include notebook_junc{right: 0;}
      .user{
        &::after{@include background(icon, user_icon, svg, no-repeat, 60%, center, center);}
        @include notebook_junc{display: none;}
      }
      .search-controls{
        &::after{@include background(icon, search_icon, svg, no-repeat, 80%, center, center);}
        @include tablet{
          &.on{
            &::after{@include background(icon, closed_icon, png, no-repeat, 60%, center, center);}
          }
        }
      }
    }
    .logo{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 100;
      transform: translate(-50%, -50%);
      transition: all .25s;
      img{max-width: 100%;}
      @include tablet{width: 8rem;}
    }
  }
  .search-wrap{
    background: $white;
    width: 100%;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    overflow: hidden;
    transition: height .35s ease-out;
    &.active{
      height: 25rem;
      @include tablet{height: 20.4rem;}
    }
    .search-inner{
      width: calc(100% - 4rem);
      max-width: 90rem;
      margin: 0 auto;
      padding: 6rem 0 3rem;
      @include tablet{padding: 2rem 0;}
      .search-inp{
        width: 100%;
        .input-wrap{
          gap: 2rem;
          position: relative;
          .btn-search{
            width: 12rem;
            max-height: 5.6rem;
            padding: 2rem 0;
            font-size: 1.6rem;
            color: $white;
            background: $mainColor;
            border-radius: .4rem;
            overflow: hidden;
            &:hover{background: $subColor01;}
            @include tablet{
              width: 4rem;
              height: 4rem;
              padding: 0;
              text-indent: -9999em;
              background: inherit;
              position: absolute;
              top: 50%;
              right: 1rem;
              transform: translateY(-50%);
              &:hover{background: inherit;}
              &::after{
                content: '';
                display: block;
                width: inherit;
                height: inherit;
                position: absolute;
                top: 0;
                left: 0;
                filter: invert(15%) sepia(11%) saturate(20%) hue-rotate(51deg) brightness(88%) contrast(91%);
                @include background(icon, search_icon, svg, no-repeat, contain, center, center);
              }
            }
          }
        }
        input[type="search"]{
          width: 100%;
          max-height: 5.6rem;
          padding: 2rem 1rem;
          border: 0;
          border-bottom: 2px solid $mainColor;
          &::placeholder{font-size: 1.6rem;}
        }
      }
      .search-keyword{
        margin-top: 1.8rem;
        gap: 2rem;
        @include flexbox(row, flex-start, center);
        @include tablet{
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
        }
        strong{font-weight: 600;}
        ul{
          gap: .8rem;
          flex-wrap: wrap;
          @include flexbox(row, flex-start, center);
          li{
            a{
              padding: .6rem;
              border-radius: .4rem;
              background: $gray01;
              white-space: nowrap;
              &::before{
                content: '#';
                display: inline-block;
                margin-right: .4rem;
              }
            }
          }
        }
      }
      .btn-closed{
        margin-top: 3rem;
        text-align: center;
        @include tablet{display: none;}
        a{
          border: 1px solid $gray01;
          font-size: 1.6rem;
          background: $white;
          padding: .8rem  3.4rem .8rem 1.2rem;
          border-radius: 2rem;
          @include background(icon, arrow_type01, svg, no-repeat, 1.6rem, right 1rem, center);
        }
      }
    }
  }
  .gnb-wrap{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    @include notebook_junc{
      height: 100vh;
      top: 0;
      left: -100%;
      bottom: auto;
      z-index: 100;
      background: $white;
      transition: left .25s;
      &.active{left: 0;}
    }
    &-top{
      @include flexbox(row, space-between, center);
      margin-right: 2rem;
      height: 6rem;
      display: none;
      @include notebook_junc{display: flex;}
      .btn-closed{
        position: relative;
        background: $darkBlack;
        width: 6rem;
        height: 6rem;
        text-indent: -9999em;
        overflow: hidden;
        &::after{
          content: '';
          display: block;
          width: inherit;
          height: inherit;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          @include background(icon, closed_icon, png, no-repeat, 60%, center, center);
        }
      }
      .utility-wrap{
        a{
          font-size: 1.4rem;
          font-weight: bold;
          &:not(:last-child){margin-right: 1.6rem;}
        }
      }
    }
    .gnb-inner{
      position: relative;
      z-index: 100;
      @include flexbox(row, center, center);
      @include notebook_junc{
        @include flexbox(column, flex-start, flex-start);
      }
      li{
        @include notebook_junc{width: 100%;}
        .depth1{
          width: 100%;
          font-weight: 500;
          padding: 2.2rem 2.6rem;
          transition: all .25s;
          position: relative;
          @include notebook_junc{
            padding: 2rem;
            font-weight: bold;
            &.has{
              &::after{
                content: '';
                width: 2rem;
                height: 2rem;
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%) rotate(180deg);
                transition: transform .25s;
                filter: invert(95%) sepia(3%) saturate(731%) hue-rotate(341deg) brightness(106%) contrast(84%);
                @include background(icon, arrow_type01, svg, no-repeat, contain, center, center);
              }
            }
          }
          &.on{
            background: $white;
            @include tablet{
              background: inherit;
              color: $mainColor;
            }
            &::after{transform: translateY(-50%) rotate(0deg);}
            + .gnb-draw{display: block;}
          }
        }
        .gnb-draw{
          display: none;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 6rem 0;
          background: $white;
          @include notebook_junc{
            padding: 0;
            position: static;
            border-top: 2px solid $darkBlack;
          }
          .draw-inner{
            width: 100%;
            max-width: 66rem;
            margin: 0 auto;
            display: flex;
            gap: 6rem;
            @include notebook_junc{max-width: 100%;}
            .menu-list{
              width: 55%;
              @include notebook_junc{width: 100%;}
              ul{
                li{
                  transition: all .25s;
                  @include notebook_junc{
                    padding: 1.4rem 4rem;
                    &:hover{background: $gray02;}
                  }
                  &:not(:last-child){
                    margin-bottom: .8rem;
                    @include notebook_junc{margin-bottom: 0;}
                  }
                  a{
                    width: 100%;
                    font-family: $aritaM;
                    @include notebook_junc{
                      font-size: 1.4rem;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
            .banner{
              width: 45%;
              @include notebook_junc{display: none;}
              ul{
                display: flex;
                gap: 2rem;
                li{
                  flex: 1;
                  .img-wrap{
                    img{max-width: 100%;}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}