@import '../common.scss';

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 16rem;
  background: #ccc;
  &.header-fixed{
    .utility-wrap{margin-top: 0;}
  }
  .hd-inner-wrap{
    position: relative;
    background: #ccc;
    border: 1px solid #000;
    .logo{
      position: absolute;
      left: 50%;
      top: 2rem;
      transform: translateX(-50%);
    }
    .utility-wrap{
      position: absolute;
      top: 0;
      right: 2rem;
      margin-top: 3.2rem;
      @include flexbox(row, flex-start, center);
    }
  }
  .search-wrap{
    background: $white;
    border: 1px solid #000;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    // display: none;
    .search-inner{
      width: calc(100% - 4rem);
      max-width: 90rem;
      margin: 0 auto;
      padding: 6rem 0 3rem;
      .search-inp{
        width: 100%;
        .input-wrap{gap: 2rem;}
        input[type="search"]{
          width: 100%;
          max-height: 5.6rem;
          padding: 2rem 1rem;
          border: 0;
          border-bottom: 2px solid $mainColor;
          &::placeholder{font-size: 1.6rem;}
        }
      }
      .search-keyword{
        margin-top: 1.8rem;
        gap: 2rem;
        @include flexbox(row, flex-start, center);
        strong{font-weight: 600;}
        ul{
          gap: .8rem;
          @include flexbox(row, flex-start, center);
          li{
            a{
              padding: .6rem .4rem;
              background: $gray01;
              &::before{
                content: '#';
                display: inline-block;
                margin-right: .4rem;
              }
            }
          }
        }
      }
    }
  }
  .gnb-wrap{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    .gnb-inner{
      @include flexbox(row, center, center);
      li{
        // position: relative;
        .depth1{
          font-weight: 500;
          padding: 1.8rem 2.6rem;
          transition: all .25s;
          &:hover, &.on{background: $white;}
        }
        .gnb-draw{
          display: none;
          width: 100%;
          position: absolute;
          top: 100%;
          left: 0;
          padding: 6rem 0;
          border: 1px solid #000;
          .draw-inner{
            width: calc(100% - 4rem);
            max-width: 66rem;
            margin: 0 auto;
            display: flex;
            gap: 6rem;
            .menu-list{
              width: 55%;
              border: 1px solid red;
              ul{
                li{
                  &:not(:last-child){margin-bottom: .8rem;}
                  a{
                    font-family: $aritaM;
                    &:hover{}
                  }
                }
              }
            }
            .banner{
              width: 45%;
              border: 1px solid red;
            }
          }
        }
      }
    }
  }
}