.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($black, .35);
  display: none;
  z-index: -1;
  &.active{
    display: block;
    z-index: 101;
  }
  &-cont{
    width: calc(100% - 4rem);
    max-width: 66rem;
    max-height: calc(100% - 8rem);
    padding: 0 2rem;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    > div{padding: 1.4rem 0;}
    .modal-tit{
      position: sticky;
      top: 0;
      text-align: center;
      background: $white;
      border-bottom: 1px solid $table-bd;
      strong{font-weight: bold;}
      .md-closed{
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        text-indent: -9999em;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        filter: invert(100%) sepia(94%) saturate(7465%) hue-rotate(156deg) brightness(87%) contrast(96%);
        @include background(icon, closed_icon, svg, no-repeat, 80%, center, center);
      }
    }
    .modal-info{
      .pd{
        &-item{
          gap: 1rem;
          @include flexbox(row, flex-start, flex-start);
          .img-wrap{
            width: 8rem;
            min-width: 8rem;
            height: 8rem;
            overflow: hidden;
            background: #ccc;
          }
          p{
            line-height: 1.4;
            @include ellipsis(2);
          }
        }
        &-payment{
          margin-top: 2rem;
          .opt{
            &-num{
              padding: 1.4rem;
              background: $gray02;
              .tit{font-weight: 600;}
              .tools{
                margin-top: 1.4rem;
                width: 12rem;
                height: 3.2rem;
                display: table;
                @include border(1px, $table-bd);
                > a{
                  width: 3.2rem;
                  vertical-align: middle;
                  display: table-cell;
                  background: $white;
                  text-align: center;
                  font-weight: 600;
                  &:first-child{border-right: 1px solid $table-bd;}
                  &:last-child{border-left: 1px solid $table-bd;}
                }
                input{
                  width: 5.6rem;
                  height: 100%;
                  text-align: center;
                  border: 0;
                }
              }
            }
            &-total{
              margin-top: 2rem;
              @include flexbox(row, space-between, flex-start);
              .tit{
                font-size: 1.4rem;
                font-weight: 600;
                color: rgba($gray03, .7);
                span{
                  color: $gray03;
                  font-weight: bold;
                }
              }
              .total-price, .total-price span{
                font-size: 1.8rem;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
    .bottom-btn{
      gap: 1rem;
      @include flexbox(row, center, center);
      button{

      }
    }
  }
}