@import './base/reset';
@import './base/font';

$black : #000000;
$white: #ffffff;


@mixin border($width, $color) {border: $width solid $color;}
@mixin flexbox($direction, $justify, $align){
	display:flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin ellipsis($num: 1) {
  @if ($num == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
  }
}
@mixin background ($folder: folder_name, $img: file, $type: png, $repeat:no-repeat, $size, $x:0, $y:0) {
  background-image: url(../images/#{$folder}/#{$img}.#{$type});
  background-repeat: #{$repeat};
  background-size: #{$size}; 
  background-position: #{$x} #{$y};
} 

*{box-sizing: border-box;}
html{font-size: 10px;}
body{
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $black;
  *{
    font-family: 'Pretendard', 'Noto Sans KR';
    font-weight: 400;
    color: $black;
  }
}

.con-box{
  width: calc(100% - 4rem);
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}