@import './base/reset';
@import './base/font';

$black : #000000;
$white: #ffffff;
$mainColor: #34BDCB;
$subColor: #2BAAB7;
$darkBlack: #2b2b2b;
$gray01: #EBEAE3;
$gray02: #f5f5f5;
$aritaM: 'aritaM';

/* 노트북 분기점 */
@mixin notebook_junc{
  @media (max-width: 1000px){@content;}
}
/* 노트북 */
@mixin notebook{
  @media (max-width: 1200px){@content;}
}
/* 테블릿 */
@mixin tablet{
  @media (max-width: 768px){@content;}
}
/* 모바일 */
@mixin mobile{
  @media (max-width: 420px){@content;}
}

@mixin border($width, $color) {border: $width solid $color;}
@mixin flexbox($direction, $justify, $align){
	display:flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

}
@mixin ellipsis($num: 1) {
  @if ($num == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
  }
}
@mixin background ($folder: folder_name, $img: file, $type: png, $repeat:no-repeat, $size, $x:0, $y:0) {
  background-image: url(../../images/#{$folder}/#{$img}.#{$type});
  background-repeat: #{$repeat};
  background-size: #{$size}; 
  background-position: #{$x} #{$y};
} 

*{box-sizing: border-box;}
html{font-size: 10px;}
body{
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $black;
  *{
    font-family: 'Pretendard', 'Noto Sans KR';
    font-weight: 400;
    color: $black;
  }
}

.con-box{
  width: calc(100% - 4rem);
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.hide {
  position: absolute;
  width: 1px!important;
  height: 1px!important;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.d{
  &-pc{
    display: block;
    @include tablet{display: none;}
  }
  &-mb{
    display: none;
    @include tablet{display: block;}
  }
}

button{
  font-size: 1.4rem;
  font-weight: 500;
  transition: all .25s;
  // gap: .6rem;
  // @include flexbox(row, center, center);
}

#wrapper{
  #wrap{
    &:not(.home){
      margin-top: 20rem;
      @include notebook_junc{margin-top: 10rem;}
      .wrap-inner{
        max-width: 1240px;
        width: calc(100% - 4rem);
        margin: 0 auto;
      }
    }
    // 공통타이틀
    .tit-wrap{
      > div{
        gap: .8rem;
        @include flexbox(row, flex-start, center);
      }
      .main-tit{
        font-size: 2.4rem;
        font-weight: bold;
      }
    }
  }
}

.flex-wrap{
  @include flexbox(row, flex-start, flex-start);
  &.center{align-items: center;}
}

.table-wrap{
  .hidden{
    &-lg{
      display: table-cell;
      @include tablet{display: none !important;}
    }
    &-sm{
      display: none;
      @include tablet{display: block !important;}
    }
  }
  table{
    width: 100%;
    .txt-bold{font-weight: bold;}
    .input-wrap{
      &.check{
        width: 2rem;
        height: 2rem;
        margin-right: 1.6rem;
      }
    }
    thead{
      border-top: 1px solid $gray01;
      border-bottom: 1px solid $gray01;
      th{
        padding: 1.2rem .8rem;
        text-align: center;
        span{
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    tbody{
      tr{border-bottom: 1px solid $gray01;}
      td{
        padding: 2rem .8rem;
        &:not(:last-child){
          border-right: 1px solid $gray01;
        }
      }
    }
    &.shop-table{
      @include tablet{
        display: block;
        thead{display: block;}
        tbody{
          display: block;
          tr{
            display: block;
            td{
              display: block;
              width: 100% !important;
              padding: 1rem;
              border-right: none;
            }
          }
        }
      }
    }
  }
}

.input-wrap{
  gap: 1rem;
  @include flexbox(row, flex-start, center);
  &.check{
    min-height: 2rem;
    input[type="checkbox"]{
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      -webkit-clip-path: polygon(0 0, 0 0, 0 0);
      clip-path: polygon(0 0, 0 0, 0 0);
      + label{
        position: relative;
        min-height: 1.8rem;
        line-height: 2rem;
        padding-left: 2.4rem;
        font-size: 1.4rem;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        &::before, &::after{
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &::after{
          width: 1.8rem;
          height: 1.8rem;
          opacity: 0;
          filter: invert(43%) sepia(72%) saturate(4676%) hue-rotate(214deg) brightness(92%) contrast(87%);
          // @include background(icon, check_icon, svg, no-repeat, contain, center, center);
          background: url(../images/icon/check_icon.svg) no-repeat center center / contain;
        }
        &::before{
          width: 1.8rem;
          height: 1.8rem;
          border-radius: .5rem;
          transform: translateY(-50%);
          background: $white;
          // border: 1px solid $gray01;
          border: 1px solid #000;
        }
      }
      &:disabled{
        pointer-events: none;
        + label{
          &::before{
            border-color: #eee;
            background: #EFEFEF;
          }
          &::after{filter: invert(72%) sepia(0%) saturate(280%) hue-rotate(210deg) brightness(86%) contrast(77%);}
        }
      }
      &:checked{
        + label{
          &::before{border-color: $mainColor;}
          &::after{opacity: 1;}
        }
      }
    }
  }
}