@import './base/reset';
@import './base/font';

$black : #000000;
$white: #ffffff;
$mainColor: #34BDCB;
$subColor: #2BAAB7;
$gray01: #EBEAE3;
$aritaM: 'aritaM';

/* 노트북 분기점 */
@mixin notebook_junc{
  @media (max-width: 1000px){@content;}
}
/* 노트북 */
@mixin notebook{
  @media (max-width: 1200px){@content;}
}
/* 테블릿 */
@mixin tablet{
  @media (max-width: 768px){@content;}
}
/* 모바일 */
@mixin mobile{
  @media (max-width: 420px){@content;}
}

@mixin border($width, $color) {border: $width solid $color;}
@mixin flexbox($direction, $justify, $align){
	display:flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;

}
@mixin ellipsis($num: 1) {
  @if ($num == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    word-break: keep-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $num;
  }
}
@mixin background ($folder: folder_name, $img: file, $type: png, $repeat:no-repeat, $size, $x:0, $y:0) {
  background-image: url(../../images/#{$folder}/#{$img}.#{$type});
  background-repeat: #{$repeat};
  background-size: #{$size}; 
  background-position: #{$x} #{$y};
} 

*{box-sizing: border-box;}
html{font-size: 10px;}
body{
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: -0.02em;
  color: $black;
  *{
    font-family: 'Pretendard', 'Noto Sans KR';
    font-weight: 400;
    color: $black;
  }
}

.con-box{
  width: calc(100% - 4rem);
  max-width: 1360px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.hide {
  position: absolute;
  width: 1px!important;
  height: 1px!important;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip-path: polygon(0 0, 0 0, 0 0);
}

button{
  font-size: 1.4rem;
  font-weight: 500;
  transition: all .25s;
  // gap: .6rem;
  // @include flexbox(row, center, center);
  &.btn{
    &-search{
      width: 12rem;
      max-height: 5.6rem;
      padding: 2rem 0;
      font-size: 1.6rem;
      color: $white;
      background: $mainColor;
      &:hover{background: $subColor;}
    }
  }
}

.input-wrap{
  gap: 1rem;
  @include flexbox(row, flex-start, center);
}