@import '../common.scss';

#wrap{
  .tit-wrap{
    .state{
      width: 2rem;
      height: 2rem;
      font-weight: 500;
      background: $darkBlack;
      border-radius: 50%;
      color: $white;
      @include flexbox(row, center, center);
    }
    + .cont-wrap{margin-top: 2rem;}
  }
  .cont-wrap{
    .table-wrap{
      table{
        .btn-wrap{
          margin-top: 1rem;
          button{
            font-size: 1.2rem;
            padding: .6rem 1rem;
            border-radius: 3rem;
            background: $white;
            border: 1px solid $table-bd;
            @include tablet{
              font-size: 1.4rem;
              padding: 1rem 1.2rem;
            }
            &.order-option{
              background: $subColor02;
              color: $white;
            }
          }
        }
        tbody{
          tr{
            padding: 1rem 0;
            td{
              text-align: center;
              position: relative;
              @include tablet{
                &:not(.img){padding: 1rem 1rem 1rem 4.6rem;}
              }
              p{line-height: 1.4;}
              .pd-wrap{
                padding-right: 3.2rem;
                .pd-info{
                  a{
                    gap: 1rem;
                    @include flexbox(row, flex-start, flex-start);
                    .img-wrap{
                      min-width: 8rem;
                      min-height: 8rem;
                      overflow: hidden;
                      background: #ccc;
                    }
                    p{
                      @include ellipsis(2);
                      text-align: left;
                    }
                  }
                }
              }
              .btn-remove{
                width: 2rem;
                height: 2rem;
                overflow: hidden;
                text-indent: -9999em;
                position: absolute;
                right: .8rem;
                top: 2rem;
                background-color: inherit;
                border: 1px solid #000;
                @include background(icon, closed_icon, png, no-repeat, contain, center, center);
                @include tablet{top: 1rem;right: 1rem;}
              }
              .info-list{
                .flex-wrap{justify-content: space-between;}
                .price{
                  border-bottom: 1px solid $table-bd;
                  padding-bottom: 1.2rem;
                  margin-bottom: 1.2rem;
                }
                .result-list{
                  > div{
                    &:not(:last-child){margin-bottom: .8rem;}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}