@import '../base/common.scss';

.detail-wrap{
  border: 1px solid #000;
  .pd-wrap{
    &-top{
      display: flex;
      gap: 4rem;
      .pd-img{
        width: 45%;
        min-height: 50rem;
        background: #333;
      }
      .pd-info{
        width: 55%;
        .tit-wrap{
          .main-tit{
            span{
              font-size: 1.4rem;
              font-weight: 600;
              color: $gray03;
              + strong{margin-top: 1rem;}
            }
            strong{
              font-size: 3.2rem;
              font-weight: bold;
              display: block;
            }
          }
          .sub-tit{
            padding: 2rem 0;
            margin: 2rem 0;
            border-top: 1px solid $gray01;
            border-bottom: 1px solid $gray01;
            p{line-height: 1.4;}
          }
        }
        .price-wrap{
          margin-top: 2rem;
          gap: .8rem;
          @include flexbox(row, flex-start, center);
          *{
            font-weight: bold;
            font-size: 1.8rem;
          }
          .pr{
            &-existing{
              color: rgba($gray03, .8);
              text-decoration: line-through;
              span{color: rgba($gray03, .8);}
            }
            &-discount{color: $red;}
          }
        }
        .option-wrap{
          margin-top: 2rem;
          > div{
            gap: 1rem;
            @include flexbox(row, flex-start, center);
            &:not(:first-child){margin-top: 1rem;}
            .tit{font-weight: bold;}
          }
        }
        .buy-wrap{
          margin-top: 4rem;
          gap: 1.6rem;
          button{
            border-radius: 0;
            padding: 1.8rem 1.2rem;
          }
        }
      }
    }
    &-bottom{}
  }
}